.hero {
  margin-bottom: 50px;
  .image-wrap {
    text-align: center;
    img {
      aspect-ratio: 1/1;
      border-radius: 50%;
      object-fit: cover;
    }
  }
  .text-wrap {
    h3 {
      margin-bottom: 40px;
    }
  }
}
